@import url(https://fonts.googleapis.com/css?family=Montserrat);
 
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
 
table {
    margin: auto;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
}
 
thead {
    background-color: #ececec;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
 
thead, tbody {
    display: block;
}
 
th, td {
    padding: 8px 10px;
    border: 1px solid #ddd;
    width: 130px;
}
 
button {
    width:150px;
    height:45px;
    background-color: #f8585b;
    border-radius:20px;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}
button:hover{ 
	box-shadow:200px 0 0 0 rgba(0,0,0,0.25) inset; 
}

table.type08 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


tbody {
    height: 140px;
}
